<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75b48e">  <td>19/07/13 14:06:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataD.setup()[pri:0, instance:carspkg.DataD@62ee68d8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/07/13 14:06:09</td>   <td>8300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataD.setup()[pri:0, instance:carspkg.DataD@62ee68d8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/07/13 14:06:17</td>   <td>16227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataD.setup()[pri:0, instance:carspkg.DataD@62ee68d8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/07/13 14:06:02</td>   <td>1568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataD.testflights(java.lang.String, java.lang.String)[pri:0, instance:carspkg.DataD@62ee68d8]">testflights</td> 
  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/07/13 14:06:10</td>   <td>9289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataD.testflights(java.lang.String, java.lang.String)[pri:0, instance:carspkg.DataD@62ee68d8]">testflights</td> 
  <td>main@1967892594</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/07/13 14:06:18</td>   <td>17270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataD.testflights(java.lang.String, java.lang.String)[pri:0, instance:carspkg.DataD@62ee68d8]">testflights</td> 
  <td>main@1967892594</td>   <td></td> </tr>
</table>
