<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>carspkg.carsTesten</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPagetitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyHeadingMakemodelByZIPCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CPObyZipCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyH1CPOByZipCode</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>carspkg.carsTestes</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPagetitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyHeadingMakemodelByZIPCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CPObyZipCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyH1CPOByZipCode</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
