<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:21:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTestes.setup()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:21:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTesten.setup()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:21:54</td>   <td>1487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTesten.verifyHeadingMakemodelByZIPCode()[pri:0, instance:carspkg.carsTesten@d2cc05a]">verifyHeadingMakemodelByZIPCode</td> 
  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:21:54</td>   <td>1487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTestes.verifyHeadingMakemodelByZIPCode()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">verifyHeadingMakemodelByZIPCode</td> 
  <td>TestNG-test=Test-1@1614250104</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:22:01</td>   <td>8828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTestes.tearDown()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:22:05</td>   <td>13041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTesten.tearDown()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:22:06</td>   <td>13141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTestes.setup()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:22:06</td>   <td>13141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTesten.setup()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:22:07</td>   <td>14199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTesten.verifyPagetitle()[pri:1, instance:carspkg.carsTesten@d2cc05a]">verifyPagetitle</td> 
  <td>TestNG-test=Test-4@793486975</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:22:07</td>   <td>14232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTestes.verifyPagetitle()[pri:1, instance:carspkg.carsTestes@7dc7cbad]">verifyPagetitle</td> 
  <td>TestNG-test=Test-3@1232270686</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:22:10</td>   <td>17585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTestes.tearDown()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:22:11</td>   <td>18121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTesten.tearDown()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:22:11</td>   <td>18213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTestes.setup()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:22:11</td>   <td>18213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTesten.setup()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:22:12</td>   <td>19279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTestes.CPObyZipCode(java.lang.String)[pri:2, instance:carspkg.carsTestes@7dc7cbad]">CPObyZipCode</td> 
  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:22:12</td>   <td>19336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTesten.CPObyZipCode(java.lang.String)[pri:2, instance:carspkg.carsTesten@d2cc05a]">CPObyZipCode</td> 
  <td>TestNG-test=Test-4@793486975</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:23:10</td>   <td>77175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTesten.tearDown()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:23:10</td>   <td>77371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTestes.tearDown()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:23:10</td>   <td>77454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTesten.setup()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:23:10</td>   <td>77454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;carsTestes.setup()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:23:11</td>   <td>78400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTestes.verifyH1CPOByZipCode(java.lang.String)[pri:3, instance:carspkg.carsTestes@7dc7cbad]">verifyH1CPOByZipCode</td> 
  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:23:11</td>   <td>78439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="carsTesten.verifyH1CPOByZipCode(java.lang.String)[pri:3, instance:carspkg.carsTesten@d2cc05a]">verifyH1CPOByZipCode</td> 
  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>19/05/11 15:23:21</td>   <td>88700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTesten.tearDown()[pri:0, instance:carspkg.carsTesten@d2cc05a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@820938475</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>19/05/11 15:23:21</td>   <td>88704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;carsTestes.tearDown()[pri:0, instance:carspkg.carsTestes@7dc7cbad]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-5@221920548</td>   <td></td> </tr>
</table>
